body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.container {
    text-align: center;
    padding-top: 100px;
}

h1 {
    color: #232f3e;
}

p {
    font-size: 18px;
}

.card {
    width: 400px;
    margin: 40px auto;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
    color: #ff9900;
}

#status {
    color: green;
    font-weight: bold;
}